
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins',sans-serif,Arial;
    position: relative;
    top:0px;
    left:0px;
    right:0px;
    width:100vw;
    height:100vh;
    max-width: 100vh;
    overflow-x: hidden;
}
:root{
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-yellow:rgb(230, 140, 24);
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-silver:rgb(161, 156, 156);
}


#navbar{
display: flex ;
justify-content:space-between;
align-items: center;
position:fixed;
top:0px;
left:0px;
right: 0px;
height:5%;
background:var(--main-yellow);
width:100%;
z-index:1;
box-shadow:0px 4px 8px 1px rgba(0, 0, 0, 0.6);
-webkit-box-shadow:0px 0.5px 8px 1px rgba(0, 0, 0, 0.4);
-moz-box-shadow:0px 0.5px 8px 1px rgba(0, 0, 0, 0.4);
}

nav div{
    display:flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    font-weight: bold;
    color:var(--main-white);
    width:30%;
    min-width:300px;
    height: 100%;
    margin-left: 10px;
    padding-right: 7%;

}
nav a:hover{
 background-color:var(--main-blue);
 color:var(--main-white)
}
nav a{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:var(--main-gray);
    height: 100%;
    padding-left:5%;
    padding-right:5%;
    text-align: center;
    transition: all 0.3s ease-out;
    font-weight: 400;
}

section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100vw;
    height:100vh;
  
}
#welcome-section{
    height:100vh;
    width:100vw;
    color:var(--main-white);
    background-image:linear-gradient(90deg,rgba(82, 76, 76,0.8),rgb(54, 52, 52,0.7)),url(images/code-coder-codes-coding.jpg);
    background-size:cover;
    background-position: center;
    padding:10% 0;
 

}
#welcome-h1{
font-family:'Raleway',sans-serif;
font-size:4rem;
text-align: center;
text-shadow:1px 8px 3px rgba(0, 0, 0, 0.7);


}
#projects-container{
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;

}
#projects{
background-color: var(--main-blue);
height:auto;
width:100vw;
margin:0;
display:static;

}
#projects h1{
    margin:5% 0 ;
}
#Contact{
    background-color: var(--main-gray);
    height:900px;
}
#welcome_paragraph{
color:var(--main-yellow);
text-shadow:1px 8px 3px rgba(0, 0, 0, 0.7);
}
#profile-link{
    display:flex;
    justify-content: center;
    align-items: center;
    color:var(--main-white);
    background-color:var(--main-gray);
    transition:all 0.3s ease-in;
    margin:5% 0 ;
    text-decoration: none;
    border-radius: 5px;
    width:150px;
    height:50px;
    padding:20px 20px;
    text-align: center;
    font-size: 1.2rem;

    

}
.fa-chevron-right{
    transition:all 0.5s ease-in-out;
}
.chevron{
 transform:translate(50%);
}

#profile-link:hover{
    background-color:var(--main-red);

} 
#profile-link::before{
  content:"Show all";
  display:inline-block;
  padding-right: 5px;

}


#container{

    display:grid;
    grid-template-columns: repeat(3,minmax(300px,1fr));
    justify-content: center;
    align-items: center;
    grid-gap:2rem;
    width:100%;
    height:100%;
    color:var(--main-white);
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
 
}
.project-img{
    height:100%;
    width:100%;
    min-width: 280px ;
    min-height: 380px;
    background-color: var(--main-yellow);
    position:relative;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px ;
    box-shadow:0px 0.5px 8px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow:0px 0.5px 8px 1px rgba(0, 0, 0, 0.4);
}
#Todoapp{
    background-image: url(images/Screenshot\ from\ 2020-06-10\ 00-06-12.png);
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    min-width: 280px ;
    min-height: 380px;
    background-color: var(--main-yellow);
    position:relative;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px ;
}
#surveyform{
    background-image: url(images/Screenshot\ from\ 2020-06-10\ 00-07-04.png);
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    min-width: 280px ;
    min-height: 380px;
    background-color: var(--main-yellow);
    position:relative;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px ;
}
.project-tile{
    display:flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    bottom: 0;
    width:100%;
    height:15%;
    background-color: var(--main-gray);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px ;
    box-shadow:0px 0.5px 8px 1px rgba(0, 0, 0, 0.6);
-webkit-box-shadow:0px 0.5px 8px 1px rgba(0, 0, 0, 0.4);
}
.project-tile a{
    text-decoration: none;
    color:var(--main-white);
}
.project-tile a span{
    visibility: hidden;
    font-size:1.5rem;
    color:var(--main-yellow);
}

.large{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    

}
#about{
    background:linear-gradient(0deg,rgb(201, 196, 196),rgb(156, 153, 153)) ;
    justify-content:start;
    padding:5% 0;
    text-align: center;
    height:auto;
}
#about p,li{
    font-size: 1.5rem;
    margin-bottom: 2%;
}
li{
    list-style: none;
}
#logo{
margin-left: 2%;
color:var(--main-gray)
}
#cover_photo{
    width:250px;
    min-width:300px;
    height:300px;
    background-image: url(images/IMG_20200402_173529_317.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border:7px solid var(--main-yellow);
    padding:3px;
    box-shadow:0px 0.5px 8px 3px rgba(0, 0, 0, 0.7);
    margin:4%;

}
#cover_photo:hover{
    cursor:pointer;
}
main{
    position: relative;
    top:4%;
    width:100%;
}
@media(max-width:699px){


    #container{

        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
        justify-content: center;
        align-items: center;
        grid-gap:1rem;
        width:100%;
        height:100%;
        color:var(--main-white);
        text-align: center;

       
      

     
    }


    #navbar{
        display: flex ;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        position:fixed;
        top:0px;
        left:0px;
        right: 0px;
        height:10%;
        background:var(--main-yellow);
        width:100vw;
        z-index:1;
        box-shadow:0px 0.5px 8px 1px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow:0px 0.5px 8px 1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow:0px 0.5px 8px 1px rgba(0, 0, 0, 0.4);
        font-size: 0.8rem;
        }
        main{
            position: relative;
            top:9%;
            width: 100%;
            height: 100%;
        }
        #welcome{
            height:700px;
            width:100vw;
            color:var(--main-white);
            background-image:linear-gradient(90deg,rgba(82, 76, 76,0.8),rgb(54, 52, 52,0.7)),url(images/code-coder-codes-coding.jpg);
            background-size:cover;
            background-position: center;
            padding:10% 0;
         
        
        }
        #welcome-h1{
            font-family:'Raleway',sans-serif;
            font-size:3.5rem;
            text-align: center;
            text-shadow:1px 8px 3px rgba(0, 0, 0, 0.7);
            
            
            }
            .large{
                font-weight: bold;
                font-size: 1.5rem;
                text-align: center;
                
            
            }

            #about p,li{
                font-size: 0.75rem;
                margin-bottom: 2%;
            }
            h2{
                font-size:1rem;
            }
            nav div{
              width:100vw;
             
          }
          #about{
              padding-left:10%;
              padding-right: 10%;
          }

}
@media (max-width:350px) and (max-height:600px){
    #container{

        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(278px,1fr));
        justify-content: center;
        align-items: center;
        grid-gap:1rem;
        width:90%;
        height:100%;
        color:var(--main-white);
        text-align: center;
        margin: 0 auto;
        font-size:1rem;
     
    }

nav div{
    display:flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    font-weight: bold;
    color:var(--main-white);
    width:30%;
    min-width:250px;
    height: 100%;
}
#welcome{
    height:700px;
    width:100vw;
    color:var(--main-white);
    background-image:linear-gradient(90deg,rgba(82, 76, 76,0.8),rgb(54, 52, 52,0.7)),url(images/code-coder-codes-coding.jpg);
    background-size:cover;
    background-position: center;
 

}
#cover_photo{
    width:200px;
    min-width:250px;
    height:250px;
    background-image: url(images/IMG_20200102_105911_1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border:7px solid var(--main-yellow);
    padding:3px;
    box-shadow:0px 0.5px 8px 3px rgba(0, 0, 0, 0.7);
    margin:4%;

}
#welcome-h1{
    font-family:'Raleway',sans-serif;
    font-size:1.5rem;
    text-align: center;
    text-shadow:1px 8px 3px rgba(0, 0, 0, 0.7);
    
    
    }
    .large{
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        
    
    }
}
@media (max-width:400px) and(min-height:800px){
    #welcome{
        height:100vh;
        width:100vw;
        color:var(--main-white);
        background-image:linear-gradient(90deg,rgba(82, 76, 76,0.8),rgb(54, 52, 52,0.7)),url(images/code-coder-codes-coding.jpg);
        background-size:cover;
        background-position: center;
    } 
        main{
            position: relative;
            top:9%;
            width: 100%;
            height: 100%;
        }
    
    #about{
        height:auto;
    }
    #projects{
        height:auto;
    }
    #contact{
        height:800px;
    }
    #navbar{
        display: flex ;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        position:fixed;
        top:0px;
        left:0px;
        right: 0px;
        height:10%;
        background:var(--main-yellow);
        width:100vw;
        z-index:1;
        box-shadow:0px 0.5px 8px 1px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow:0px 0.5px 8px 1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow:0px 0.5px 8px 1px rgba(0, 0, 0, 0.4);
        }

}

@media (min-width:700px) and (max-width:1000px){
    #container{

        display:grid;
        grid-template-columns: repeat(2,minmax(300px,1fr));
        justify-content: center;
        align-items: center;
        grid-gap:3rem;
        width:90%;
        height:100%;
        color:var(--main-white);
        text-align: center;
        margin: 0 auto;
     
    }
}